<ion-grid scrollEnabled="false">
    <div class="back-ground-container">
      <img src="../../assets/app1S.png" alt="Fondo" class="back-ground-container">
    </div>
  <ion-row>
    <div class="top-animation-container">
      <h1 class="animated ion-text-center">Sosa Segovia</h1>
      <h1 class="animated ion-text-center">Eduardo Andrés</h1>
    </div>
  </ion-row>
  <ion-row>
    <div class="mid-animation-container">
      <img src="../../assets/app1IconS.png" alt="Top Animation" class="animated">
    </div>
  </ion-row>
  <ion-row>
    <div class="bottom-animation-container">
      <h1 class="animated ion-text-center">4-A </h1>
    </div>
  </ion-row>
</ion-grid>