h1 {
    font-family: 'Krona One', sans-serif !important;
    font-size: xx-large;
    color: aliceblue;
}

ion-grid {
    height: 90vh; 
    width: 100vw; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction:column;
}

ion-row{
    height: 33vh; 
    width: 100vw; 
}

.back-ground-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-animation-container,
.bottom-animation-container,
.mid-animation-container {
    margin: auto;
    z-index: 1;
    align-self: center;
    width: 100%;
}

.mid-animation-container .animated {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: slideIn;
    animation-iteration-count: 1;
    animation-duration: 2.5s;
    animation-delay: 2s;
}

.top-animation-container .animated {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: rotate-scale-up;
    animation-iteration-count: 1;
    animation-duration: 2.5s;
    animation-delay: 2s;
}


.bottom-animation-container .animated {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: slideIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 3s;

}

@keyframes bounce {
    0% {
        transform: translateY(-50vh);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide {
    0% {
        transform: rotateX(0);
        opacity: 1;
    }

    100% {
        transform: rotateX(180);
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(80vh);
        opacity: 1;
    }

    100% {
        transform: translateY(0vh);
        opacity: 1;
    }
}

@keyframes rotate-scale-up {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
        opacity: 1;
    }

    50% {
        -webkit-transform: scale(2) rotateZ(180deg);
        transform: scale(2) rotateZ(180deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
        opacity: 1;
    }
}



